
<footer>
<!-- copyright -->
<p id="copyright">&copy;&nbsp;Laila Nazneen, Centennial id:301167735. All
right reserved..</p>
</footer>
</div>

<script src="/javascripts/script.js"></script>
<script src="/jquery/dist/jquery.slim.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>
</body>

</html>