<div id=footerLogo><a id="footerLogo" href="https://www.facebook.com/laila.nazneen1/"><i
    class="fab fa-facebook"></i></a>

<a href="https://www.linkedin.com/in/laila-nazneen-9091b7205/"><i class="fab fa-linkedin"></i></a>
<br>
</div>
<footer>            
    
  <!-- Scripts -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/javascripts/appclient.js"></script>

<!-- copyright -->
<p id="copyright">&copy;&nbsp;Laila Nazneen, College ID: 301167735. All
right reserved </p>
</footer>

</body>
</html>