<!-- 
Filename:header.ejs
Student: Laila Nazneen
StudentId: 301167735
Date: Jun 02, 2022 
-->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
  <!--<script src="/javascripts/script.js"></script>-->

  <!-- <link rel='stylesheet' href='/stylesheets/style.css' />   -->
</head>
<body>
  <!-- Navigation bar -->
  <nav class="navbar navbar-expand-sm  navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="/images/logo.jpg" alt="logo" style="width:40px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <% if(title == "Home") { %>
          <a class="nav-link active" href="/">
        <%} else {%>
          <a class="nav-link" href="/">
        <%} %>
          <i class="fas fa-home"></i> Home </a>
      </li>
      
      <li class="nav-item">
        <% if(title == "About") { %>
          <a class="nav-link active" href="/about">
        <%} else {%>
          <a class="nav-link" href="/about">
        <%} %>
          <i class="fas fa-file-contract"></i> About </a>
      </li>
   <!--   <li class="nav-item">
        <a class="nav-link" href="/about"><i class="fas fa-file-contract"></i> About </a>
      </li>-->
      <li class="nav-item">
        <% if(title == "My Projects") { %>
          <a class="nav-link active" href="/projects">
        <%} else {%>
          <a class="nav-link" href="/projects">
        <%} %>
        <i class="fas fa-tasks"></i> Projects </a>
      </li>
    
  <!--  <li class="nav-item">
      <a class="nav-link" href="/projects"><i class="fas fa-tasks"></i> Projects </a>
    </li>
  -->
  <li class="nav-item">
    <% if(title == "My Services") { %>
      <a class="nav-link active" href="/services">
    <%} else {%>
      <a class="nav-link" href="/services">
    <%} %>
    <i class="fas fa-tasks"></i> Services </a>
  </li> 
    <!--  <li class="nav-item">
        <a class="nav-link" href="/services"><i class="fa-solid fa-briefcase"></i></i> Services </a>
      </li>-->
      <li class="nav-item">
        <% if(title == "My Contact info") { %>
          <a class="nav-link active" href="/contact">
        <%} else {%>
          <a class="nav-link" href="/contact">
        <%} %>
        <i class="fa-solid fa-address-card"></i> Contact Me </a>
      </li>
      <li class="nav-item dropdown">
        <% if (title == "Inventory List" || title == "Add a new Item") { %>
          <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Inventory</a>
        <% } else { %>
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Inventory</a>
        <% } %>       
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/inventory/list">Inventory List</a></li>
          <li><a class="dropdown-item" href="/inventory/add">Add a new Item</a></li>
        </ul>
      </li>
    <!--  <li class="nav-item">
        <a class="nav-link" href="/contact"><i class="fa-solid fa-address-card"></i></i> Contact Me </a>
      </li>-->
      <li class="nav-item">
        <% if(title == "Users") { %>
          <a class="nav-link active" href="/users">
        <%} else {%>
          <a class="nav-link" href="/users">
        <%} %>
        <i class="fas fa-users"></i> Users </a>
      </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="/users"><i class="fas fa-users"></i> Users </a>
      </li> -- -->
      
    </ul>
  </nav>