<% include partials/header.ejs %>

    <h1 id="textLarge">About Me</h1>
    <!-- My image -->
    

    <img class="center" src="/images/laila_pic 1.JPG" width="300" height="300"
     alt="laila">
    
    <!-- info -->
    
    <div id="aboutText">
     Hello, 
        I'm Laila Nazneen.I worked as a Accessibility Analyst.Accessibility Testing is 
        defined as a type of Software Testing performed to ensure that the application 
        being tested is usable by people with disabilities like hearing, color blindness, 
        old age and other disadvantaged groups. It is a subset of Usability Testing.
        I am passionate about Web design,Software development andbuilding
        excellent software that improves the lives of all type of people.
    <br>
    

    <button type="button" >
        <a id="aboutText" class="btn btn-xl btn-outline-dark" href="images/resume.pdf">
            <i class="fas fa-download me-2 "></i>
            Download My Resume
        </a></button>
    </div>

    <% include partials/footer.ejs %>