<% include partials/header.ejs %>

    <h1 id="textLarge">About Me</h1>
    <!-- My image -->
    

    <img class="center" src="/images/laila_pic 1.JPG" width="300" height="300"
     alt="laila">
    
    <!-- info -->
    
    <div id="aboutText">
     Hello, 
        I'm Laila Nazneen.
        I am passionate about web design,software development and building
        excellent software that improves the lives of all types of people.
    <br>   

    <button type="button" >
        <a id="aboutText" class="btn btn-xl btn-outline-dark" href="images/resume.pdf">
            <i class="fas fa-download me-2 "></i>
            Download My Resume
        </a></button>
    </div>

    <% include partials/footer.ejs %>