<%-include partials/header-%>
    

  <h1 id="textLarge">Welcome to Laila Nazneen's portfolio page</h>
    <br>
    <br>     
  <img class="center" src="/images/laila.jpg" width="300" height="300"
     alt="laila">
  <!-- Mission statement -->
  
  <h2 id="textLarge"> Mission</h2>
  <div id="aboutText"> 
    
    My mission is to develop accessible projects that are both efficient and productive for individuals with 
  and without disabilities, as well as to solve real-world and corporate problems.</div><br><br>
  
    <%-include partials/footer-%>