<% include partials/header.ejs %>
  
<h1 id="textLarge"><%= title %></h1>
<!-- project description -->
<div id="projects">
    <h3> Mobile Fitness Application (Software Requirements Specification) </h3>
    <p>This fitness app is a program that can be downloaded and used to stay in 
        shape on any mobile device.Apps can help users set fitness goals, manage calorie
         consumption.People can be used as a platform to promote healthy behavior change.
          Fitness apps can connect health data from wearable devices to third-party devices, 
        making it easier to access.</p>
    <p>Technical: Microsoft Teams,SharePoint,GoogleDoc, PowerPoint, Visio.</p>
    <img  src="/images/fitnessApp.JPG"  alt="FitnessApp"><br><br>
</div>

<div id="projects">
    <h3>Physiotherapy Clinic Appointment App</h3>
    <p>The PCAA is designed to help patients or their family with or without family physicians to make an appointment with flexibility.The PCAA is designed to help patients or their family with or without family physicians to make an appointment with flexibility.
      
        The app needs to accumulate and track information of patients, 
        physiotherapist availability to make an appointment by patient,
         physician, or medical administrator.            
        
        </p>
    <p>Technical: Java,JavaScript,Visio, SharePoint</p>    
    
    <img class="center" src="/images/pcaa.JPG" alt="pcaa"><br><br>
</div>

<div id="projects">
    <h3>Bug smasher game</h3>
    <p>Little touch based game for fun</p>
    <p>Technical: HTML/CSS, JS</p>
    <a href="http://studentweb.cencol.ca/lnaznee1/comp125/Assignment05/Index.html">Bug Smasher</a>
    

    <img class="center" src="/images/ladybug.jpg" alt="Bug"><br><br>
</div><br><br>


<% include partials/footer.ejs %>